.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  padding: 40px;
  overflow-y: auto;
  flex-wrap: wrap;
}

.modal::-webkit-scrollbar {
  width: 10px;
  background-color: var(--main-bg-color);
}

.modal::-webkit-scrollbar-track {
  border-radius: 5px;
  border: 1px solid var(--main-bg-color);
}

.modal::-webkit-scrollbar-thumb {
  background-color: white;
  border-left: 5px solid var(--main-bg-color);
  background-clip: padding-box;
}

.modal-content {
  background-color: aliceblue;
  border-radius: 16px;
}