
.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    background-color: #262D34;
    height: 55px;
}

.first-navbar-part {
    display: flex;
    align-items: center;
}

.app-logo-wrapper {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 7px;
    margin-right: 10px;
}

.app-logo {
    width: 100%;
    height: 100%;
}

.app-title {
    color: var(--orange);
}

.middle-navbar-part {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navigation-btn-grp > * {
    margin-right: 12px;
    padding: 10px;
    font-size: 18px;
    color: white;
    border-radius: 7px ;
}

.active {
    background-color: #FF4401;
}

.search-engine {
    width: 400px;
    height: 41px;
}

.last-navbar-part {
    display: flex;
    gap: 15px;
    align-items: center;
}

.ant-btn-primary {
    background-color: #FF4401;
}

.ant-input {
    background-color: #2C353D;
    border-color: #2C353D;
}

.ant-input::placeholder {
    color: #858EAD;
}

.noti-icon > * {
    padding: 10px;
    font-size: 18px;
    color: white;
    border-radius: 7px ;
    background-color: #2C353D ;
}

.user-section {
    display: flex;
    align-items: center; 
    gap: 10px;
    color: white;
}