.box-content-wrapper {
    border-radius: 16px;
    background-color: #262D34;
    padding: 20px;
}

.box-content-wrapper:has(.post-filter-container) {
    padding: 10px;
}

.box-content-loading {
    width: 190px;
}

.update-post {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.update-post > button {
    height: 39px;
}

.update-post > input {
    flex: 1 ;
}

.update-post > button > span {
    font-weight: bold;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.login-form > h1 {
    margin-top: 60px;
    margin-bottom: 0px;
    font-size: 48px;
    color: white;
}
.login-form > span {
    margin-bottom: 30px;
    font-size: 23px;
    font-weight:300;
    color: rgb(108, 117, 125);
}

.login-form > input {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    width: 470px;
    height: 55px;
    font-size: 14px;
    line-height: 150%;
    border-radius: 50px;
    color: rgb(108, 117, 125);
}

.login-form > span:last-of-type {
    width: 470px;
    height: 55px;
    font-size: 14px;
    line-height: 150%;
    border-radius: 50px;
    background-color: rgb(108, 117, 125);
    color: rgb(108, 117, 125);
}
 
.login-form > button {
    margin-bottom: 60px;
    height: 45px;
    width: 470px;
    font-size: small;
    border-radius: 50px;
    font-size: small;
}