.post-filter-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.post-filter-item {
    background-color: var(--contrast-color);
    border: none;
    font-size: var(--fs-lg);
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    padding: 5px;
    border-radius: var(--bd-rad-md); 
    width: 100%;
    cursor: pointer;
}

.post-filter-item:hover {
    background-color: var(--sub-contrast-color) ;
}

.post-filter-item.active {
    background-color: var(--sub-contrast-color) ;
}

.post-filter-icon { 
    padding: 7px;
    background-color: var(--sub-contrast-color);
    border-radius: var(--bd-rad-md);
}

