/* global css */
* {
    padding: 0;
    margin: 0;
}

:root {
    --orange: #FF4401;
    --contrast-color: #262D34;
    --sub-contrast-color:#2C353D;
    --main-bg-color: #1E252B;
    --bd-rad-md: 7px;
    --bd-rad-lg: 16px;
    --bd-rad-sm: 4px;
    --spacing: 20px;
    --spacing-md: 15px;
    --spacing-sm: 10px;
    --spacing-lg: 30px;
    --white: white;
    --black: black;
    --fs-lg: 18px;
    --fs: 16px;
    --fs-md: 14px;
    --fs-sm: 12px;
    --fs-xs: 10px;
    --font-color: #858EAD;
}

h1, h2, h3, h4, h5, p, a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* end of global css */
.layout-wrapper {
    background-color: var(--main-bg-color);
    height: 100vh;
    overflow: auto;
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: var(--main-bg-color);
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    border: 1px solid var(--main-bg-color);
}

*::-webkit-scrollbar-thumb {
    background-color: white;
    border-left: 5px solid var(--main-bg-color);
    background-clip: padding-box;
}

.page-content {
    display: flex;
    padding: var(--spacing) var(--spacing-lg);
    gap: var(--spacing);

}

.post-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    align-items: center;
}

.layout-panel {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    position: relative;
}

.primary {
    flex: 6;
}

.extend {
    flex: 2;
}

.secondary {
    flex: 3;
}

.new-secondary {
    flex: 4;
}

/* overwrire antd */

.post-list ul.ant-list-items {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    height: 1034px;
}

.post-list li.ant-list-item {
    padding: 0;
}

.post-list-pagination .ant-pagination-item>a {
    color: white;
}

.post-list-pagination .ant-pagination-item-active {
    background-color: var(--contrast-color);
    border-color: var(--contrast-color);
}

.post-list-pagination span {
    color: white !important;
}

.ant-btn-primary {
    background-color: #FF4401;
}

.ant-input {
    background-color: var(--sub-contrast-color);
    border-color: var(--sub-contrast-color);
    color: var(--font-color);
}

.ant-input::placeholder {
    color: #858EAD;
}

.layout-header {
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}